@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body * {
    visibility: hidden;
  }

  #zReport,
  #zReport * {
    visibility: visible;
  }

  #zReport {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #xReport,
  #xReport * {
    visibility: visible;
  }

  #xReport {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
